@model IEnumerable<tatoulink.DataAccess.EfModels.JobOfferUser>

@{
    ViewData["Title"] = "Job Offers User";
}


<a class="btn btn-primary" asp-action="Create">Create New Job Offer User</a>

@foreach (var item in Model) {
    <div class="job-offer-box">
        <h2>@item.JobOffer.OfferName</h2>
            <p>@item.JobOffer.Description</p>
        <ul>
            <li>Creation Date: @item.JobOffer.CreationDate</li>
            <li>Type: @item.JobOffer.Type</li>
            <li>Duration: @item.JobOffer.Duration</li>
            <li>Expiring Date: @item.JobOffer.ExpiringDate</li>
            <li>Creator: @item.JobOffer.Creator.Id</li>
            <li>User email: @item.User.Email</li>
            <li></li>
        </ul>
        <div class="job-offer-actions">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
}

            <style>
                .job-offers-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                .job-offer-box {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px;
                    max-width: 400px;
                    width: 100%;
                }

                    .job-offer-box h2 {
                        font-size: 24px;
                        margin-top: 0;
                    }

                    .job-offer-box p {
                        margin-bottom: 10px;
                    }

                    .job-offer-box ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }

                    .job-offer-box li {
                        margin-bottom: 5px;
                    }

                .job-offer-actions {
                    display: flex;
                    justify-content: flex-end;
                }

                    .job-offer-actions a {
                        margin-left: 10px;
                    }
            </style>
