@model IEnumerable<tatoulink.DataAccess.EfModels.User>

@{
    ViewData["Title"] = "User";
}

<a class="btn btn-primary" asp-action="Create">Create New User</a>


@foreach (var item in Model) {
    <div class="job-offer-box">
        <h2>@item.Firstname</h2>
        <h2>@item.Surname</h2>
        <ul>
            <li>Email: @item.Email</li>
            <li>Birth Date: @item.Birthdate</li>
            <li>Last Jobs: @item.LastJobs</li>
            <li>Status: @item.Status</li>
            <li></li>
        </ul>
        <div class="job-offer-actions">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-primary" href="/JobOfferUsers?id=@item.Id">List my applying offers</a>
            <a class="btn btn-primary" href="/JobOffers?id=@item.Id">List my created offers</a>
            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
}

<style>
    .job-offers-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .job-offer-box {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        max-width: 1000px;
        width: 100%;
    }

        .job-offer-box h2 {
            font-size: 24px;
            margin-top: 0;
        }

        .job-offer-box p {
            margin-bottom: 10px;
        }

        .job-offer-box ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .job-offer-box li {
            margin-bottom: 5px;
        }

    .job-offer-actions {
        display: flex;
        justify-content: flex-end;
    }

        .job-offer-actions a {
            margin-left: 10px;
        }
</style>